/* Webfont: DBO3Std-HeavyItalic */@font-face {
    font-family: 'DBO3StdHeavy';
    src: url('DB O3 Std Heavy It v4.eot'); /* IE9 Compat Modes */
    src: url('DB O3 Std Heavy It v4.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('DB O3 Std Heavy It v4.woff') format('woff'), /* Modern Browsers */
         url('DB O3 Std Heavy It v4.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

